@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<Ictshop.Models.Sanpham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý sản phẩm </h2>

<p>
    <button class="btn-default">@Html.ActionLink("Thêm mới", "Create")</button>
</p>
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    @Html.TextBox("searching")
    <input type="submit" value="Search" />
}
<table class="table table-bordered">
    <tr>

        <th>
            Tên sản phẩm
        </th>
        <th>
            Giá tiền
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Mô tả
        </th>
        <th>
            Thẻ sim
        </th>
        <th>
            Ảnh bìa
        </th>
        <th>
            Tên hãng
        </th>
        <th>
            Hệ điều hành
        </th>
        <th> Hành động</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Tensp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Giatien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thesim)
            </td>
            <td>
                <img src="@Url.Content("~/HinhanhSP/" + item.Anhbia)" width="50" height="50" />
                @*@Html.DisplayFor(modelItem => item.Anhbia)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hangsanxuat.Tenhang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hedieuhanh.Tenhdh)
            </td>
            <td style="margin:auto">
                <a href="@Url.Action("Edit","Home",new { id = item.Masp })"><img style="width:20px;height:20px" src="~/HinhanhSP/fix.png" /></a> |
                @*@Html.ActionLink("Sửa", "Edit", new { id = item.Masp })|*@
                <a href="@Url.Action("Details","Home", new {id=item.Masp})"><img style="width:20px;height:20px" src="~/HinhanhSP/detail.png" /></a> |
                @*@Html.ActionLink("Chi tiết", "Details", new { id = item.Masp }) |*@
                <a href="@Url.Action("Delete","Home",new {id=item.Masp})"><img style="width:20px;height:20px" src="~/HinhanhSP/delete.png" /></a>
                @*@Html.ActionLink("Xoá", "Delete", new { id = item.Masp })*@
            </td>
        </tr>
    }

</table>
