
    <div class="row">
        <div style="background-color:#F4FA58;margin:auto;width:97.5%" class=" bg-danger"><h3 style="font-family:'Comic Sans MS'"> IPHONE </h3></div>
        @foreach (var item in Model)
        {
            <div class="col-md-3 col-sm-6">
                <a href="@Url.Action("xemchitiet", new {@Masp=item.Masp })">
                    <img style="width:250px;height:300px;" src=@Url.Content("~/HinhanhSP/"+item.Anhbia) class="img-responsive" alt="" width="400" height="400" />
                    </a>
                    <center>
                        <h3 style="font-family:'Comic Sans MS'">@item.Tensp</h3>
                        <div class="price"><h3>@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", @item.Giatien)</h3></div>
                        <br />
                        @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMasp = item.Masp, @strURL = Request.Url.ToString() }))
                        {
                            <input class="w3-btn w3-blue" type="submit" value="Mua hàng" id="bgnGioHang" />

                        }
                        @*<a href="@Url.Action("xemchitiet", new {@Masp=item.Masp })">Xem chi tiết</a>*@
                    </center>

</div>
        }
        @*<div class="col-md-3 col-sm-6">
                <img src="~/HinhanhSP/ip3.jpg" class="img-responsive" alt="" />
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="~/HinhanhSP/ip3.jpg" class="img-responsive" alt="" />
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="~/HinhanhSP/ip3.jpg" class="img-responsive" alt="" />
            </div>*@
    </div>

