@model IEnumerable<Ictshop.Models.Hedieuhanh>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý hệ điều hành</h2>

<p>
    @Html.ActionLink("Thêm mới hệ điều hành", "Create")
</p>
   @using (Html.BeginForm("Index","Hedieuhanhs", FormMethod.Get))
   {
       @Html.TextBox("searching")<input type="submit" value="Search"/>
   }
<table class="table">
    <tr>
        <th>
            Mã hệ điều hành
        </th>
        <th>
            Tên hệ điều hành
        </th>
        <th>Hành động</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Mahdh)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tenhdh)
    </td>
    <td>
        <a href="@Url.Action("Edit","Hedieuhanhs",new { id = item.Mahdh })"><img style="width:20px;height:20px" src="~/HinhanhSP/fix.png" /></a> |
        <a href="@Url.Action("Details","Hedieuhanhs", new {id=item.Mahdh})"><img style="width:20px;height:20px" src="~/HinhanhSP/detail.png" /></a> |
        <a href="@Url.Action("Delete","Hedieuhanhs",new {id=item.Mahdh})"><img style="width:20px;height:20px" src="~/HinhanhSP/delete.png" /></a>        
    </td>
</tr>
}

</table>
